<div class="row">
 <!-- <div class="col-xs-12 col-md-6">
    <div class="panel-wrapper">
      <div class="panel-title">Active vs Converted</div>
      <div class="panel-stage">
        <canvas id="tables" class="chart chart-line" data="chartData.data[0]" series="chartData.series" labels="chartData.labels" colours="colours" legend="true" click="onClick"></canvas>
      </div>
      <div class="panel-notes">On Monthly Basis</div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="panel-wrapper">
      <div class="panel-title">Converted Prospects for Bay Area vs Texas</div>
      <div class="panel-stage">
        <canvas id="areachart" class="chart chart-line" data="chartData.data1[0]" series="chartData.series1" labels="chartData.labels" colours="colours" legend="true" click="onClick"></canvas>
      </div>
      <div class="panel-notes">On Monthly Basis</div>
    </div>
  </div>
</div>-->
<div class="col-xs-12 col-md-12">
    <div class="panel-wrapper">
        <div class="panel-title">Prospects Initiated for Bay Area vs Texas</div>
        <div class="panel-stage">
            <canvas id="areachart1" class="chart chart-bar" data="chartData.data2[0]" series="chartData.series1" labels="chartData.labels" colours="colours" legend="true" click="onClick"></canvas>
        </div>
        <div class="panel-notes">On Monthly Basis</div>
    </div>
</div>
<div class="col-xs-12 col-md-12">
    <div class="panel-wrapper">
        <div class="panel-title">Prospects Initiated/Converted Monthly</div>
        <div class="panel-stage">
            <canvas id="bar" class="chart chart-bar" data="chartData.data3[0]" series="chartData.series2" labels="chartData.labels" colours="colours" legend="true" click="onClick"></canvas>
        </div>
        <div class="panel-notes">On Monthly Basis</div>
    </div>
</div>
<div class="col-xs-12 col-md-12">
    <div class="panel-wrapper">
        <div class="panel-title">Sales Person Vs Prospects</div>
        <div class="panel-stage">
            <canvas id="bar" class="chart chart-bar" data="chartData.data4[0]" series="chartData.series3" labels="chartData.labels" colours="colours" legend="true" click="onClick"></canvas>
        </div>
        <div class="panel-notes">On Monthly Basis</div>
    </div>
</div>
<div class="col-xs-12 col-md-12">
    <div class="panel-wrapper">
      <div class="panel-title">Scheduled Calls</div>
      <div class="panel-stage">
        <img src="images/config_date.png"></img>
      </div>
     
    </div>
  </div>
</div>

