<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="panel-wrapper">
      <div class="panel-title">Active vs Converted</div>
      <div class="panel-stage">
        <canvas id="tables" class="chart chart-line" data="chartData.data[0]" series="chartData.series" labels="chartData.labels" colours="colours" legend="true" click="onClick"></canvas>
      </div>
      <div class="panel-notes">On Monthly Basis</div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="panel-wrapper">
      <div class="panel-title">Active vs Converted</div>
      <div class="panel-stage">
        <canvas id="doughnut" class="chart chart-doughnut" click="onClick" data="data1" labels="labels1" legend="true"></canvas>
      </div>
      <div class="panel-notes">As of Today</div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
    <div class="panel-wrapper">
      <div class="panel-title">Scheduled Calls</div>
      <div class="panel-stage">
        <img src="images/config_date.png"></img>
      </div>
     
    </div>
  </div>
</div>

