<div class="container">
  <form name="newEmailForm" ng-submit="sendEmail(newEmail)" >
    <div class="panel-wrapper">
      <label class="control-label">Subject: </label>
      <input type="text" class="form-control" readonly data-ng-model="newEmail.subject" placeholder="{{subject}}" />	
    </div>

    <div class="panel-wrapper" >
      <label class="control-label">From: </label>
      <input type="text" class="form-control" data-ng-model="newEmail.from" placeholder="{{auth.profile.name}}" value="{{auth.profile.name}}" readonly="true"/>
    </div>

    <div class="panel-wrapper">
      <label class="control-label">To: </label>
        <textarea rows="2" class="form-control" data-ng-model="newEmail.to" required="true"></textarea>
    </div>
      <div class="panel-wrapper">
          <label class="control-label">Cc: </label>
          <input type="text" class="form-control" placeholder="presale_email_id" readonly="true"/>
      </div>

    <div class="panel-wrapper">
      <label class="control-label">Contents: </label>
      <textarea rows="7" class="form-control" data-ng-model="newEmail.contents" required="true"></textarea>
    </div>

   <button class="btn btn-default" type="submit">
      <span class="glyphicon glyphicon-plus"></span> Send
    </button>

    <button class="btn btn-default" data-ng-click="cancelEmail()">
      <span class="glyphicon glyphicon-refresh"></span> Cancel
    </button>
  </form>
  </div>
