<tabset>
    <tab heading="Pipeline">
<!--<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand subheader" style="color: #000066"><b>Pipeline</b></span>
      </div>
      </div>
    </div>
  </div>-->
<br/>
  <div>
    <form>
     <!-- <div ng-if="prospects.length > 5">-->
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" data-ng-model="searchText.name"/>
        <div class="input-group-btn">
          <button class="btn btn-default">
            <span class="glyphicon glyphicon-filter"></span> Filter
          </button>
        </div>
      </div>
    </form><br>
  </div>
  <table class="table table-hover table-responsive"><th width="40%">Prospect</th><th width="20%">State</th><th width="20%">Active From</th><th width="20%">No. of Emails</th></table>
  <table class="table table-hover table-responsive table-condensed tab-content" data-ng-repeat="prospect in prospects | filter:searchText">
    <td width="40%">
        <a ui-sref="auth.prospect.view({prospectId: prospect._id})">{{prospect.name}}</a>
     </td>
    <td width="20%">
      {{prospect.state}}
    </td>
      <td width="20%" >
          {{prospect.start_date}}
      </td>
      <td width="20%" align="center">
          {{prospect.no_of_emails}}
      </td>
    </table>
</tab>
    <tab heading="Search">
         <div class="container">
            <form name="searchProspectForm" ng-submit="searchProspect(searchVal)" >
                <br/>
                <div class="panel-wrapper">
                    <label class="control-label">Participant: </label>
                    <input type="text" class="form-control" data-ng-model="searchVal.name" />
                </div>

               <!-- <div class="panel-wrapper" >
                    <label class="control-label">Technology: </label>
                    <input type="text" class="form-control" data-ng-model="searchVal.technology"/>
                </div>-->
                <button class="btn btn-default" type="submit" ng-disabled="form.$invalid" >
                    <span class="glyphicon glyphicon-plus"></span> Search
                </button>
            </form><br>
             <table class="table table-hover table-responsive"><th width="40%">Prospect</th><th width="20%">State</th></table>
             <table class="table table-hover table-responsive table-condensed tab-content" data-ng-repeat="prospect in searchResult">
                 <td width="40%">
                     <a ui-sref="auth.prospect.view({prospectId: prospect._id})">{{prospect.name}}</a>
                 </td>
                 <td width="20%">
                     {{prospect.state}}
                 </td>
             </table>
        </div>
    </tab>
    </tabset>


