<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand subheader" style="color: #000066"><b>{{prospect_name}} Participant List </b></span>
      </div>
    </div>
  </div>
</div>

<div>
  <form>
    <!-- <div ng-if="prospects.length > 5">-->
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" data-ng-model="searchText.name"/>
      <div class="input-group-btn">
        <button class="btn btn-default">
          <span class="glyphicon glyphicon-filter"></span> Filter
        </button>
      </div>
    </div>
  </form><br>
</div>
<div class="container">
  <div ng-if="participants.length > 0" style="overflow: scroll; height:auto;">
<table class="table table-hover table-responsive table-condensed tab-content" data-ng-repeat="participant in participants | filter:searchText">
  <td width="80%">
    <a ui-sref="participant.view({participantId: participant._id})">{{participant.name}}</a>
  </td>
  <td><a data-ng-click="deleteParticipant(participant._id,participant.name,prospect_id)" ui-sref="home"><span class="glyphicon glyphicon-remove"></span> Delete </a></td>
</table>
  </div>
  </div>
<div class="container">
      <label class="navbar-brand subheader" style="color: #000066"><b>Add Participant</b></label>
</div>
<form name="addParticipantForm" novalidate>
  <div class="input-group">
    <span class="input-group-addon">Select</span>
    <input type="text" ng-model="asyncSelected" placeholder="Employees" typeahead="name for name in getEmployees($viewValue)" typeahead-loading="loading" class="form-control">
                    <span class="input-group-btn">
                      <button type=button class="btn btn-default" data-ng-click="addParticipant(prospect_id)">Add</button>
                    </span>
  </div>
  </form>




