<div class="container">

</div>
<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

       <!-- <span class="navbar-brand subheader" style="color: #000066"><b>{{prospect.name}}</b> &nbsp;&nbsp;</span>
        <div class="col-xs-offset-8 col-xs-2" > <a class="pull-right" ui-sref="participant.list({prospectId: prospect._id})">Participants</a></div>
        <div class="col-xs-2"><a ui-sref="bucket.list"><span class="glyphicon glyphicon-inbox"></span> Uncategorized </a></div>
        <div class="col-xs-offset-8 col-xs-2" ><a ui-sref="prospect.edit({prospectId: prospect._id})"><i class="glyphicon glyphicon-edit"></i> Edit</a></div>
        <div class="col-xs-2"><a data-ng-click="deleteProspect(prospect._id)"  ui-sref="projects.list"><i class="glyphicon glyphicon-remove"></i> Delete</a></div>
-->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/"><b>{{prospect.name}}</b></a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a ui-sref="auth.participant.list({prospectId: prospect._id,prospectName:prospect.name})"> Participants &nbsp;</a></li>
         <!-- <li><a ui-sref="auth.emails.uncategorizedEmailsForProspect({prospect_id:prospect._id})"><span class="glyphicon glyphicon-inbox"></span> Uncategorized </a></li>-->
     <!--     <li><a ui-sref="prospect.edit({prospectId: prospect_id})"><span class="glyphicon glyphicon-edit"></span> Edit </a></li>
          <li><a ui-sref="prospect.delete({prospectId: prospect._id})"><span class="glyphicon glyphicon-remove"></span> Delete </a></li>-->
        </ul>
      </div>

    </div>

      </div>

    </div>
<div ng-repeat="cycle in cycles | orderBy:'cycle_no':true">
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand"><b>Cycle {{cycle.cycle_no}}</b></div>
            <table style="margin-top:15px;">
                <tr><td><span ><b>Start date:</b> {{cycle.start_date}} </span></td><td> <span style="padding-left:20px" ng-if="cycle.status != 'In Progress'"> <b>End Date: </b>{{cycle.end_date}} </span></td></tr>
            </table>
            </div>
        <div class="nav navbar-nav navbar-right" style="margin-top:15px;margin-left: 15px" width="100%">
            <a  ng-if="auth.profile.prospectPrivilage.length > 0 &&  auth.profile.prospectPrivilage.indexOf('COMPLETE_CYCLE') != -1" data-ng-click="completeCycle(cycle.cycle_no,cycle._id,prospect._id,prospect.name)"><span  style="padding-right:35px;font-size: 13px;font-style: norma;font-weight: normal" ng-if="cycle.status != 'Complete'" class="active" ><b>Complete Cycle</b></span></a>
        </div>
    </div>
</div>
<!--<div id="parent">
  <div class="panel">
    <div data-toggle="collapse" data-parent="#parent" data-target="#child">test</div>
    <div id="child" class="collapse in">
      This is the content
    </div>
  </div>
  <div class="panel">
    <div data-toggle="collapse" data-parent="#parent" data-target="#child2">test</div>
    <div id="child2" class="collapse">
      This is the content
    </div>
  </div>
</div>-->

<accordion close-others="oneAtATime">
  <accordion-group is-open="status.isFirstOpen">
    <accordion-heading>
      <b>Prospect Information</b> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    </accordion-heading>
    <table border="0">
      <tr><td></td><td></td><td></td><td align="right" colspan="2"><a ng-if="auth.profile.prospectPrivilage.length> 0 &&  auth.profile.prospectPrivilage.indexOf('EDIT_PROSPECT') != -1" ui-sref="auth.prospect.edit({prospectId:prospect._id,stage:1})"><span class="glyphicon glyphicon-edit"></span> Edit </a></b> &nbsp;&nbsp;
      <a ng-if="auth.profile.prospectPrivilage.length> 0 && auth.profile.prospectPrivilage.indexOf('DELETE_PROSPECT') != -1" data-ng-click="deleteProspect(prospect._id,prospect.name)"  ui-sref="home"><span class="glyphicon glyphicon-remove"></span> Delete </a></td></tr>
      <tr><td width="20%"><b>Name : </b></td><td width="30%"> {{prospect.name}}</td><td width="20%"><b>Company URL: </b></td><td width="30%"> {{prospect.companyURL}}</td></tr>
      <tr><td><b>Start Date: </b></td><td> {{prospect.start_date}}</td><td><b>Initiated By: </b></td><td> {{prospect.initiatedBy}}</td></tr>
        <tr><td><b>Description : </b></td><td> {{prospect.description}}</td></tr>
        <tr><td><b>Other Comments: </b></td><td> {{prospect.othercomments}}</td></tr>
        <tr></tr>
    </table>
  </accordion-group>
  <accordion-group>
    <accordion-heading>
      <b>Initiation</b> <i ng-if="cycle.current_state > '1'" class="glyphicon glyphicon-ok-sign" title="Completed"> </i> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    </accordion-heading>
    <table>
      <tr><td width="70%"></td>
      <td><a ng-if="cycle.current_state < '3' && auth.profile.prospectPrivilage.length > 0 &&  auth.profile.prospectPrivilage.indexOf('COMPLETE_STAGE') != -1" class="glyphicon glyphicon-circle-arrow-right" data-ng-click="markComplete(prospect._id, 'Internal Preparation',3,cycle._id)" title="Move in Next state"> Mark Complete </a></td>
      <td><a ng-if="cycle.current_state < '3' && auth.profile.prospectPrivilage.length > 0 && auth.profile.prospectPrivilage.indexOf('INITIATE_EMAIL') != -1" class="glyphicon glyphicon-envelope"  ui-sref="auth.emails.edit({prospectId: prospect._id,prospectName:prospect.name,from:'(Sharada Umarane)sharada.umarane@synerzip.com',to:prospect.participants,stage:1,cycle_id:cycle._id,cycle_no:cycle.cycle_no})"> Email</a> </td></tr>
      </table>
      <table>
          <tr><td><b>Notes: </b>
               <button ng-if="auth.profile.prospectPrivilage.length > 0 &&  auth.profile.prospectPrivilage.indexOf('ADD_NOTES') != -1" class="btn btn-default" ng-click="addMore(1)"><span class="glyphicon glyphicon-plus"></span></button>
               <button ng-if="auth.profile.prospectPrivilage.length > 0 &&  auth.profile.prospectPrivilage.indexOf('ADD_NOTES') != -1" class="btn btn-default" ng-click="SaveNotes(prospect._id,'1')"><span class="glyphicon glyphicon-floppy-save"></span> Save Notes</button></td>
          </tr>
          <tr>
              <td colspan="5"><div ng-repeat="textArea1 in textAreas1">
                  <table>
                      <tr><td>
                      <textarea id="maxlength_textarea" style="background: lightgoldenrodyellow" class="form-control" maxlength="225" rows="2" cols="70" data-ng-model="textArea1.textBox" placeholder="Enter Note here"></textarea>
                      </td><td>
                          <button ng-if="auth.profile.prospectPrivilage.length > 0 &&  auth.profile.prospectPrivilage.indexOf('EMAIL_NOTES') != -1" ng-show="participants.length > 0" class="btn btn-default" data-ng-model="textArea1.button" ng-click="sendNotesEmail(textArea1,prospect.name,prospect._id,'1','Initiation')"><span class="glyphicon glyphicon-envelope"></span></button>
                     </td>
                      </tr>
               </table>
              </div></td>
          </tr>
      </table>
       <table ><br/>
      <!--<tr><td width="50%">Prospect is initiated on {{prospect.updatedDate}}</td><td></td></tr>-->
      <tr ><td width="50%"><b>Initiation Email Sent on: </b></td><td ng-if="prospect._id == emailsForStage1[0].prospect_id && email1.stage == 1">{{emailsForStage1[0].send_date}}</td></tr>
      <tr><td width="50%"><b>Email Subject: </b></td><td ng-if="prospect._id == emailsForStage1[0].prospect_id && email1.stage == 1">{{emailsForStage1[0].subject}}</td></tr>
      <tr><td width="50%"><b>Message: </b></td><td></td></tr>
     </table><br/>
     <!-- <span ng-if="auth.profile.prospectPrivilage.length > 0 && auth.profile.prospectPrivilage.indexOf('VIEW_INITIATION_EMAIL_IF_NOT_INVOLVED') != -1">-->
     <table  data-ng-repeat="email1 in emailsForStage1">
      <tr ng-if="prospect._id == email1.prospect_id && email1.stage == 1 && cycle.cycle_no == email1.cycle_no"><td width="50%" colspan="2"><b>Sent from {{email1.from}} on {{email1.send_date}}:</b></td></tr>
      <tr ng-if="prospect._id == email1.prospect_id && email1.stage == 1 && cycle.cycle_no == email1.cycle_no"><td width="50%">Subject: {{email1.subject}}</td><td></td></tr>
      <tr ng-if="prospect._id == email1.prospect_id && email1.stage == 1 && cycle.cycle_no == email1.cycle_no"><td width="50%"><textarea rows="3" cols="78" readonly="readonly">{{email1.contents}}</textarea></td><td></td></tr>
    </table>
   <!-- <accordion-group heading="{{email1.subject}}" ng-repeat="email1 in emailsForStage1">
      {{email1.contents}}
    </accordion-group>
    
  <div id="parent">
  <div class="panel">
    <div id="parentDiv" data-toggle="collapse" data-parent="#parent" data-target="#child" ><b>test</b><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></div>
    <div id="child" class="collapse in">
      This is the content
    </div>
  </div>
  <div  data-ng-repeat="email1 in emailsForStage1">
  <div class="panel">
    <div id="parentDiv" data-toggle="collapse" data-parent="#parent" data-target="#child1" >
    <b>Sent from {{email1.from}} on {{email1.send_date}}:</b><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></div>
    <div id="child" class="collapse">
      {{email1.contents}}
    </div>
  </div>
</div>
</div>-->
  </accordion-group>
  <!--<accordion-group>
    <accordion-heading>
      <b>Clarification</b> <i ng-if="prospect.state_id > '2'" class="glyphicon glyphicon-ok-sign" title="Completed"> </i><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    </accordion-heading>
    <table>
    <tr><td width="70%"></td>
    <td><a ng-if="prospect.state_id < '3'" class="glyphicon glyphicon-circle-arrow-right" data-ng-click="markComplete(prospect._id, 'Internal Preparation',3)"  title="Move in Next state"> Mark Complete </a></td>
    <td><a ng-if="prospect.state_id < '3'" class="glyphicon glyphicon-envelope"  ui-sref="auth.emails.edit({prospectId: prospect._id,prospectName:prospect.name,from:'(Sharada Umarane)sharada.umarane@synerzip.com',to:prospect.participants,stage:2})"> Email</a> </td></tr>
    </table>
      <table>
          <tr><td><b>Notes:</b></td></tr>
          <tr>
              <td> <div ng-repeat="textArea2 in textAreas2">
                  <textarea id="maxlength_textarea" class="form-control" maxlength="225" rows="2" cols="200" data-ng-model="textArea2.textBox" placeholder="textbox"></textarea>
              </div></td>
              <td>  <button class="btn btn-default" ng-click="addMore(2)">Add Notes</button></td>
              <td> <button class="btn btn-default" ng-click="SaveNotes(prospect._id,'2')">Save Notes</button></td>
          </tr>
      </table>
      <form name="questionsForm" enctype='multipart/form-data' ng-submit="addQuestions(newProspect,prospect._id,'Converted','6')" >
      <table width="100%">
          <tr><td  width="15%">
              <label class="control-label">Questions: </label>
          </td><td width="20%"></td>
              <td>
                  <textarea rows="5" class="form-control" data-ng-model="newProspect.questions" placeholder="Please add questions here"></textarea>
              </td>
          </tr>
          <tr>
              <div class="panel-wrapper" ng-if="prospect.questionsDoc == ''"  >
              <td width="20%" colspan="2">
                  <label ng-if="prospect.questionsDoc == '' || prospect.questionsDoc == 'undefined'" class="control-label">Upload Questions Document: </label>
              </td>
                 <td> <input ng-if="prospect.questionsDoc == '' || prospect.questionsDoc == 'undefined'" type="file" ng-file-select="fileSelection($files)" class="form-control" file-model="questionsDoc"/>
                  <label ng-if="prospect.questionsDoc == '' || prospect.questionsDoc == 'undefined'" class="control-label" data-ng-model="newProspect.uploadStatus"></label>
              </td>
              </div>
              </tr>
          <tr>
               <div class="panel-wrapper" ng-if="prospect.questionsDoc != ''">
                 <td colspan="2">
                  <label class="control-label">Questions Document: </label>
                 </td>
                 <td>
                  <a href='../uploads/{{prospect.questionsDoc}}' > {{prospect.questionsDoc}}</a>
                 </td>
              </div>
              </td>
          </tr>
          <tr>
              <td colspan="2">
                  <button  class="btn btn-default" type="submit" ng-disabled="form.$invalid" >
                      <span class="glyphicon glyphicon-thumbs-up"></span> Save Questions
                  </button>
                  </td>
          </tr>
      </table>
          </form>
    <table data-ng-repeat="email2 in emailsForStage2">
      <tr ng-if="prospect._id == email2.prospect_id && email2.stage == 2"><td width="50%" colspan="2"><b>Sent from {{email2.from}} on {{email2.send_date}}:</b></td></tr>
        <tr ng-if="prospect._id == email2.prospect_id && email2.stage == 2"><td width="50%">Subject: {{email2.subject}}</td><td></td></tr>
        <tr ng-if="prospect._id == email2.prospect_id && email2.stage == 2"><td width="50%"><textarea rows="3" cols="93" readonly="readonly">{{email2.contents}}</textarea></td><td></td></tr>
    </table>
  </accordion-group>-->
  <accordion-group ng-if="auth.profile.prospectPrivilage.length > 0 &&  auth.profile.prospectPrivilage.indexOf('VIEW_2_3_STAGE_IF_NOT_INVOLVED') != -1">
    <accordion-heading>
      <b>Internal Preparation</b> <i ng-if="cycle.current_state > '3'" class="glyphicon glyphicon-ok-sign" title="Completed"> </i> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    </accordion-heading>
    <table>
    <tr><td width="50%"></td>
        <td><a ng-if="cycle.current_state < '5'" class="glyphicon glyphicon-calendar" data-ng-click="scheduleCall(prospect._id)" title="Schedule Call"> Schedule Call </a></td>
    <td><a ng-if="cycle.current_state < '5'  && auth.profile.prospectPrivilage.length > 0 &&  auth.profile.prospectPrivilage.indexOf('COMPLETE_STAGE') != -1" class="glyphicon glyphicon-circle-arrow-right" data-ng-click="markComplete(prospect._id, 'Engagement Start',5,cycle._id)" title="Move in Next state"> Mark Complete </a></td>
    <td><a ng-if="cycle.current_state < '5'  && auth.profile.prospectPrivilage.length > 0 && auth.profile.prospectPrivilage.indexOf('SEND_EMAIL_IF_INVOLVED') != -1" class="glyphicon glyphicon-envelope"  ui-sref="auth.emails.edit({prospectId: prospect._id,prospectName:prospect.name,from:'(Sharada Umarane)sharada.umarane@synerzip.com',to:prospect.participants,stage:3,cycle_id:cycle._id,cycle_no:cycle.cycle_no})"> Email</a> </td></tr>
    </table>
      <table>
          <tr><td><b>Notes:</b>
               <button class="btn btn-default" ng-click="addMore(3)"><span class="glyphicon glyphicon-plus"></span></button>
               <button class="btn btn-default" ng-click="SaveNotes(prospect._id,'3')"><span class="glyphicon glyphicon-floppy-save"></span> Save Notes</button></td>
          </tr>
          <tr>
              <td> <div ng-repeat="textArea3 in textAreas3">
                  <table><tr><td>
                  <textarea id="maxlength_textarea" class="form-control" style="background: lightgoldenrodyellow" maxlength="225" rows="2" cols="200" data-ng-model="textArea3.textBox" placeholder="Enter Note here"></textarea>
                  <td>
                      <button ng-show="participants.length > 0" class="btn btn-default" data-ng-model="textArea1.button" ng-click="sendNotesEmail(textArea3,prospect.name,prospect._id,'3','Internal Preparation')"><span class="glyphicon glyphicon-envelope"></span></button>
                  </td></tr></table>
              </div></td>
          </tr>
      </table><br/>
      <form name="questionsForm" enctype='multipart/form-data' ng-submit="addQuestions(newProspect,prospect._id,'Converted','6')" >
          <table width="100%">
              <tr><td  width="15%">
                  <label class="control-label">Questions: </label>
              </td><td width="20%"></td>
                  <td>
                      <textarea rows="5" class="form-control" data-ng-model="newProspect.questions" placeholder="Please add questions here"></textarea>
                  </td>
              </tr>
              <tr>
                  <div class="panel-wrapper" ng-if="prospect.questionsDoc == ''"  >
                      <td width="20%" colspan="2">
                          <label ng-if="prospect.questionsDoc == '' || prospect.questionsDoc == 'undefined'" class="control-label">Upload Document: </label>
                      </td>
                      <td> <input ng-if="prospect.questionsDoc == '' || prospect.questionsDoc == 'undefined'" type="file" ng-file-select="fileSelection($files)" class="form-control" file-model="questionsDoc"/>
                          <label ng-if="prospect.questionsDoc == '' || prospect.questionsDoc == 'undefined'" class="control-label" data-ng-model="newProspect.uploadStatus"></label>
                      </td>
                  </div>
              </tr>
              <tr>
                  <div class="panel-wrapper" ng-if="prospect.questionsDoc != ''">
                      <td colspan="2">
                          <label class="control-label">Upload Document: </label>
                      </td>
                      <td>
                          <a href='../uploads/{{prospect.questionsDoc}}' > {{prospect.questionsDoc}}</a>
                      </td>
                  </div>
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                      <button  class="btn btn-default" type="submit" ng-disabled="form.$invalid" >
                          <span class="glyphicon glyphicon-thumbs-up"></span> Save
                      </button>
                  </td>
              </tr>
          </table>
      </form>
    <table data-ng-repeat="email3 in emailsForStage3">
      <tr ng-if="prospect._id == email3.prospect_id && email3.stage == 3 && cycle.cycle_no == email3.cycle_no"><td width="50%" colspan="2"><b>Sent from {{email3.from}} on {{email3.send_date}}:</b></td></tr>
       <tr ng-if="prospect._id == email3.prospect_id && email3.stage == 3 && cycle.cycle_no == email3.cycle_no"><td width="50%">Subject: {{email3.subject}}</td><td></td></tr>
      <tr ng-if="prospect._id == email3.prospect_id && email3.stage == 3 && cycle.cycle_no == email3.cycle_no"><td width="50%"><textarea rows="3" cols="78" readonly="readonly">{{email3.contents}}</textarea></td><td></td></tr>
    </table>
  </accordion-group>
  <!--<accordion-group>
    <accordion-heading>
     <b>Client Call</b> <i ng-if="prospect.state_id > '4'" class="glyphicon glyphicon-ok-sign" title="Completed"> </i><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    </accordion-heading>
    <table>
    <tr><td width="50%"></td>
    <td><a ng-if="prospect.state_id < '5'" class="glyphicon glyphicon-calendar" data-ng-click="scheduleCall(prospect._id)" title="Schedule Call"> Schedule Call </a></td>
    <td><a ng-if="prospect.state_id < '5'" class="glyphicon glyphicon-circle-arrow-right" data-ng-click="markComplete(prospect._id, 'Engagement start',5)" title="Move in Next state"> Mark Complete </a></td>
    <td><a ng-if="prospect.state_id < '5'" class="glyphicon glyphicon-envelope"  ui-sref="auth.emails.edit({prospectId: prospect._id,prospectName:prospect.name,from:'(Sharada Umarane)sharada.umarane@synerzip.com',to:prospect.participants,stage:4})"> Email</a> </td></tr>
    </table><br/>
      <table>
          <tr><td><b>Notes:</b></td></tr>
          <tr>
              <td> <div ng-repeat="textArea4 in textAreas4">
                  <textarea id="maxlength_textarea" class="form-control" maxlength="225" rows="2" cols="200" data-ng-model="textArea4.textBox" placeholder="textbox"></textarea>
              </div></td>
              <td>  <button class="btn btn-default" ng-click="addMore(4)">Add Notes</button></td>
              <td> <button class="btn btn-default" ng-click="SaveNotes(prospect._id,'4')">Save Notes</button></td>
          </tr>
      </table>
    <table data-ng-repeat="email4 in emailsForStage4">
      <tr ng-if="prospect._id == email4.prospect_id && email4.stage == 4"><td width="50%" colspan="2"><b>Sent from {{email4.from}} on {{email4.send_date}}:</b></td></tr>
        <tr ng-if="prospect._id == email4.prospect_id && email4.stage == 4"><td width="50%">Subject: {{email4.subject}}</td><td></td></tr>
      <tr ng-if="prospect._id == email4.prospect_id && email4.stage == 4"><td width="50%"><textarea rows="3" cols="93" readonly="readonly">{{email4.contents}}</textarea></td><td></td></tr>
    </table>
     </accordion-group>-->
  <accordion-group ng-if="auth.profile.prospectPrivilage.length > 0 &&  auth.profile.prospectPrivilage.indexOf('VIEW_2_3_STAGE_IF_NOT_INVOLVED') != -1">
    <accordion-heading>
      <b>Engagement Start</b><i ng-if="cycle.current_state > '5'" class="glyphicon glyphicon-ok-sign" title="Completed"> </i> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    </accordion-heading>
   <table cellpadding="5">
    <tr><td width="90%"></td>
      <!--  <td><a ng-if="prospect.state_id < '6'" class="glyphicon glyphicon-thumbs-up" data-ng-click="acceptProspect(prospect._id)" title="Accept Prospect"> Accept Prospect </a></td>
        <td><a ng-if="prospect.state_id < '6'" class="glyphicon glyphicon-thumbs-down" data-ng-click="rejectProspect(prospect._id)" title="Reject Prospect"> Reject Prospect </a></td>
        <td><a ng-if="prospect.state_id < '6'" class="glyphicon glyphicon-circle-arrow-right" data-ng-click="closePropspect(prospect._id, 'Converted',6)" title="Accept or Reject Prospect"> Close prospect </a></td>-->
        <!--<td><a ng-if="prospect.state_id < '6'" class="glyphicon glyphicon-circle-arrow-right" data-ng-click="markComplete(prospect._id, 'Converted',6)" title="Move in Next state"> Mark Complete </a></td>-->
        <td><a ng-if="cycle.current_state < '6'  && auth.profile.prospectPrivilage.length > 0 && auth.profile.prospectPrivilage.indexOf('SEND_EMAIL_IF_INVOLVED') != -1" class="glyphicon glyphicon-envelope"  ui-sref="auth.emails.edit({prospectId: prospect._id,prospectName:prospect.name,from:'(Sharada Umarane)sharada.umarane@synerzip.com',to:prospect.participants,to:prospect.participants,stage:5,cycle_id:cycle._id,cycle_no:cycle.cycle_no})"> Email</a> </td>
    </tr>
   </table><br/>
      <table>
          <tr><td><b>Notes:</b>
                <button class="btn btn-default" ng-click="addMore(5)"><span class="glyphicon glyphicon-plus"></span></button>
               <button class="btn btn-default" ng-click="SaveNotes(prospect._id,'5')"><span class="glyphicon glyphicon-floppy-save"></span> Save Notes</button></td>
          </tr>
          <tr>
              <td> <div ng-repeat="textArea5 in textAreas5">
                  <table>
                      <tr><td>
                  <textarea id="maxlength_textarea" style="background: lightgoldenrodyellow" class="form-control" maxlength="225" rows="2" cols="200" data-ng-model="textArea5.textBox" placeholder="Enter Note here"></textarea>
                          </td><td>
                          <button ng-show="participants.length > 0" class="btn btn-default" data-ng-model="textArea1.button" ng-click="sendNotesEmail(textArea5,prospect.name,prospect._id,'5','Engagement Start')"><span class="glyphicon glyphicon-envelope"></span></button></td>
                  </tr>
                  </table>
              </div></td>
          </tr>
      </table>
      <table data-ng-repeat="email5 in emailsForStage5">
          <tr ng-if="prospect._id == email5.prospect_id && email5.stage == 5 && cycle.cycle_no == email5.cycle_no"><td width="50%" colspan="2"><b>Sent from {{email5.from}} on {{email5.send_date}}:</b></td></tr>
          <tr ng-if="prospect._id == email5.prospect_id && email5.stage == 5 && cycle.cycle_no == email5.cycle_no"><td width="50%">Subject: {{email5.subject}}</td><td></td></tr>
          <tr ng-if="prospect._id == email5.prospect_id && email5.stage == 5 && cycle.cycle_no == email5.cycle_no"><td width="50%"><textarea rows="3" cols="78" readonly="readonly">{{email5.contents}}</textarea></td><td></td></tr>
      </table>
      <hr>
      <table width="100%">
          <tr><td> &nbsp; </td></tr>
       <tr><td width ="90%">
       <form name="newProspectForm" enctype='multipart/form-data' ng-submit="acceptProspect(newProspect,prospect._id,'Converted','6',cycle._id)" >
           <div class="panel-wrapper">
               <label class="control-label">Closure Details: </label>
               <textarea rows="5" class="form-control" data-ng-model="newProspect.closureNotes" placeholder="Please add accept or reject reason"></textarea>
           </div>

           <div class="panel-wrapper" ng-if="cycle.current_state < 6 && auth.profile.prospectPrivilage.length > 0 &&  auth.profile.prospectPrivilage.indexOf('UPLOAD_ENGAGEMENT_LETTER') != -1"  >
               <label class="control-label">Upload Engagement Letter: </label>
               <input type="file" ng-file-select="fileSelection($files)" class="form-control" file-model="engagementLetter"/>
               <label class="control-label" data-ng-model="newProspect.uploadStatus"></label>
               <!--<div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>-->
           </div>
           <div class="panel-wrapper" ng-if="cycle.current_state > 5 && auth.profile.prospectPrivilage.length > 0 &&  auth.profile.prospectPrivilage.indexOf('UPLOAD_ENGAGEMENT_LETTER') != -1">
               <label class="control-label">Engagement Letter: </label>
               <a href='../uploads/{{prospect.engagementLetter}}' > {{prospect.engagementLetter}}</a>
               </div>
           <button ng-if="cycle.current_state < 6" class="btn btn-default" type="submit" ng-disabled="form.$invalid" >
               <span class="glyphicon glyphicon-thumbs-up"></span> Accept Prospect
           </button>&nbsp;&nbsp;&nbsp;

           <button ng-if="cycle.current_state < 6" class="btn btn-default" data-ng-click="rejectProspect(newProspect,prospect._id,'On Hold','7',cycle._id)">
               <span class="glyphicon glyphicon-thumbs-down"></span> Hold Prospect
           </button>
       </form>
       </td></tr>
    </table>
  </accordion-group>
    </accordion>
    </div>
   <!-- <accordion-group>
        <accordion-heading>
            <b>Uncategorized Emails</b><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <table data-ng-repeat="uemail in uncategorizedEmails">
            <tr ng-if="prospect._id == uemail.prospect_id && uemail.stage == 0"><td width="50%" colspan="2"><b>Sent from {{uemail.from}} on {{uemail.send_date}}:</b></td></tr>
            <tr ng-if="prospect._id == uemail.prospect_id && uemail.stage == 0"><td width="50%">Subject: {{uemail.subject}}</td><td></td></tr>
            <tr ng-if="prospect._id == uemail.prospect_id && uemail.stage == 0"><td width="50%"><textarea rows="8" cols="93" readonly="readonly">{{uemail.contents}}</textarea></td><td></td></tr>
        </table>
    </accordion-group>-->
