<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand subheader" style="color: #000066"><b>Settings</b></span>
            </div>
        </div>
    </div>
</div>
<div class="container">
<div class="panel-wrapper">
    <a ui-sref="auth.employee.edit">Add Employee</a>
</div>
<div class="panel-wrapper">
    <a ui-sref="auth.settings.edit">Add Users</a>
</div>
</div>