.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
/*  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;*/
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .subheader
  {
    text-decoration-color:#000066;
  }
  .panel-wrapper {
    background: #fff;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  .panel-wrapper .panel-title {
    border-bottom: 1px solid #d7d7d7;
    color: #666;
    font-size: 14px;
    font-weight: 200;
    padding: 7px 10px 4px;
  }

  .panel-wrapper .panel-stage {

    overflow: hidden;
    padding: 5px 10px;
    position: relative;
  }

  .panel-wrapper .panel-notes {
    background: #fbfbfb;
    border-top: 1px solid #e2e2e2;
    color: gray;
    font-size: 12px;
    padding: 8px 10px 5px;
  }

  .panel-wrapper  .red-days{
    font-size:24pt;
    color:red;
    text-align: center;
    padding:16px;

  }

  .panel-wrapper .red{
    background: red;
    color: white;
    font-weight: bold;


  }

  .panel-wrapper .grey{
    background: #fbfbfb;

  }

  .panel-wrapper .white{
    background: white;

  }
#parentDiv{
	background: grey;
	color:white;	   
}
}
